/******************************** GLOBAL ********************************/

html {
    height: 100%;
}

body {
    background-color: ghostwhite;
    height:100%;
    margin: 0;
    padding: 0;
}

.global {
    min-height: 100%;
    position: relative;
}

/******************************** HEADER ********************************/

#header_img {
    background-color: ghostwhite;
}


.navbar {
    background-color: #C5C8C8;
}

.navbar .nav > li > a {
    color: #0b2e13;
}

/******************************** BODY ********************************/

.style3 {
	border-top: 1px dotted #8c8b8b;
}


h1 {
    font-family: Arial, sans-serif;
    padding: 5px 0 23px 0;
}

h3 {
    padding: 0 0 15px 0;
}

.adresse {
    font-size: large;
}

/******************************** FOOTER ********************************/

footer {
  background-color: #C5C8C8;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}