/******************************** GLOBAL ********************************/

html {
    height: 100%;
}

body {
    background-color: white;
    height:100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /*font-family: 'Rubik';*/
}

section
{
    padding: 45px 0 80px 0;
}
section .heading
{
    text-align: center;
    padding-bottom: 40px;
}

section .heading h1
{
    text-transform: uppercase;
    color: red;
    font-size: 4em;
}

section .heading h2
{
    text-transform: uppercase;
}
.red-divider
{
    width:100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto;
}

/******************************** WELCOME ********************************/

#welcome {
    margin-top: -25px;
    background: url("../images/pic_background.jpg") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    color: white;
}

.global {
    min-height: 100%;
    position: relative;
}

.button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}

/******************************** HEADER ********************************/

#header_img {
    background-color: white;
}

.navbar
{
    background: #d82c2e;
    padding-right: 190px;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar .navbar-nav
{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse
{
    text-align: center;
}
.navbar li a
{
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a
{
    color: #d82c2e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    border-style: none;
}
.icon-bar
{
    background-color: #fff !important;
}

/******************************** RECOMMANDATIONS ********************************/

#recommandations
{
    background: #fff;
}
#recommandations .heading h2
{
  color: #d82c2e;
}
.carousel-control.left, .carousel-control.right
{
    background-image: none;
    color: #d82c2e;
}
.carousel-indicators
{
    bottom: 0px;
}
.carousel-indicators li
{
    border-color: #d82c2e;
}
.carousel-indicators li.active
{
    background-color: #d82c2e;
}
#myCarousel .item
{
    padding: 40px 30px;
}
#myCarousel .item h3
{
    color: #d82c2e;
    font-style: italic;
}

/******************************** BODY ********************************/

.style3 {
	border-top: 1px dotted #8c8b8b;
}

.head_title {
    margin: -15px 20px -22px 20px;
    padding: 2px 20px 2px 20px;
}

h1 {

    padding: 5px 0 23px 0;
}

h3 {
    padding: 0 0 15px 0;
}

/******************************** FORM ********************************/

.button {
     margin-bottom: 150px
 }

.button button:hover {
    background: red;
}

/******************************** FOOTER ********************************/

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 70px;
    padding: 20px;
    color: white;
}

/* FOOTER */
footer
{
    background: #333;
    padding: 20px 0 40px;
}